<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
     <h1 class="text-center">Neverending Stories</h1>
      <br>
      <% blocks.each(function(block) { %>
          <a href="#textblocks/<%= block.id %>">
          <div class="col-sm-4 blocky lead">
            <div class="inner-blocky">
            <%= block.get('body').split(" ").slice(0, 3).join(" ") %>
            </div>
          </div>
          </a>
      <% }); %>
  </div>
</div>
</div>