<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="centery">
     <h1 class="logo">Captivater</h1>
      <h2>A tool which illustrates what you write.</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <br>
    <form>
      <textarea class="form-control" name="textblock[body]" 
        id="textblock_body" placeholder="Once upon a time..." rows="5">
      </textarea>
      <br>
      <input type="submit" class="btn btn-info btn-lg btn-block" value="Submit Text">
    </form>
  </div>
</div>