<div class="container">
  <div class="row1">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="centery">
        <div class="current_imgs"></div>
      </div>
    </div>
  </div>

  <div class="row2">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <div class="current_sentence"></div>
      <br>
      <button class="prev-sentence btn btn-info lrg">Prev Sentence</button>
      <button class="next-sentence btn btn-info lrg">Next Sentence</button>
      <div class="back">
      <p>
      <a href="" class="btn">Start Again</a>
      </p>
      </div>
    </div>
  </div>
</div>

