<div class="row">

  <div class="col-md-4 col-md-offset-4">
    <div class="center">
     <h1>Captivater</h1>
      <h2>a tool which illustrates text while you read</h2>
      <form>
        <textarea class="form-control" name="textblock[body]" id="textblock_body" rows="5"></textarea>
        <input type="submit" class="btn btn-info btn-lg btn-block" value="Submit Text">
      </form>
    </div>
  </div>

</div>