<h3> Textblock Number <%= block.get("id") %> </h3>

<button class="prev-sentence">Prev</button>
<button class="next-sentence">Next</button>

<p><div class="current_sentence"></div></p>

<div class="current_imgs"></div>


