<div class="container">
  <div class="row1">
    <div class="col-md-6 col-md-offset-3">
      <div class="center">
        <div class="current_imgs"></div>
      </div>
    </div>
  </div>

  <div class="row2">
    <div class="col-md-6 col-md-offset-3">
      <div class="center">
        <div class="current_sentence"></div>
        <br>
        <button class="prev-sentence btn btn-info">Prev Sentence</button>
        <button class="next-sentence btn btn-info">Next Sentence</button>
      </div>
    </div>
  </div>
</div>

