<h3> Textblock Number <%= block.get("id") %> </h3>

<p><div class="current_sentence"></div></p>


<div class="current_imgs"></div>


<button class="prev-sentence">Prev</button>
<button class="next-sentence">Next</button>

<div class="sentences"></div>

