/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require animate
 *= require pace/pace-theme-bounce
 */

@import "bootstrap";

.row1 {
  height: 200px;
}

.row2 {
  margin-top: 30px;
  height: 200px;
  font-size: 200%;
}

.blocky{
  padding: 20px;
  height: 150px;
  font-size: 175%;
  background-color: #3498db;
  color: white;
  border: 4px solid white;
  text-align: center;
}

/*.inner-blocky{
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 10px 10px 10px 10px;
  border: 4px solid white;
}*/

span {
  color: #3498db;
}

.current_imgs img{
  width: 200px;
  height: 200px;
}

.centery {
  top:50px;
  text-align: center;
}
