/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require animate
 *= require pace/pace-theme-bounce
 */

@import "bootstrap";

h2{
  font-size: 2.5vmax;
}

/*.back{
  font-size: .8em;
  margin-top: 30px;
}*/

.logo {
  font-size: 10vw;
  color: #3498db
}

.lrg{
  height: 50px;
}

.row1 {
  height: 200px;
}

.row2 {
  height: 200px;
  font-size: 200%;
  margin-top: 15vmin;
}

span {
  color: #3498db;
}

.current_imgs img{
  width: 200px;
  height: 200px;
}

.centery {
  margin-top: 10vh;
  text-align: center;
}
