<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <div class="centery">
     <h1 class="logo">This will be your account page</h1>
      <h2>A tool which illustrates text as you read.</h2>
     
    </div>
  </div>

</div>