
<h1>New Textblock</h1>
<form action="<%= textblocks_url %>" method="post">
  <%= auth_token %>

  <label>
    Enter your story
    <input type="text" name="textblock[body]" value="" size="20">
  </label>

  <input type="submit" value="Animate">

</form>