<h2> New Textblock </h2>
<form action="<%= textblocks_url %>" method="post">
  <%= auth_token %>

  <label>
    Feed Me A Word
    <input type="text" name="textblock[body]" value="">
  </label>

  <input type="submit" value="Animate">

</form>