<h2 class="tlt">Textblock Display</h2>

<div class="tlt"> 
<%= @textblock.body %>
</div>

<ol>
  <% @textblock.sentences.each do |sentence| %>
    <% sentence.urls.each do |url| %>
      <li>
        <img src=<%=url.url%>></img>
      </li>
    <% end %>
  <% end %>
</ol>



<div class="images"></div>

