<h2 class="tlt">Textblock Display</h2>

<div class="tlt"> 
<%= @textblock.body %>
</div>

<div class="images"></div>

<ol>
  <% @textblock.urls.each do |url| %>
  <li>
    <img src=<%= url.url %>></img>
  </li>
  <% end %>
</ol>

